.contact{
  background-color:#2879fe;
  color:white;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input{
      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
    }

    button{
      padding: 10px;
      border: none;
      border-radius: 0 5px 5px 0;
      color:white;
      background-color: #333;
    }

    .icons{
      gap: 10px;
      display: flex;
    }
  }

    
  
}